body {
	background-color: #0B243B;
}

.main-header {
	text-align: center;
  	background-color: purple;
	color: white;
  	height: 40px;
}
.first-button {
	margin-right: 10px;
}

.app-header {
  margin-bottom: 0px;
}

.projects-text {
	color: white;
}

.projects-cards {
	text-align: center;
}

.card {
	display: inline-block;
	vertical-align: center;
	margin: 0;
	float: none;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 10px;
}

/*.card-head {
	color: white;
}
.card-text {
	color: white;
}
*/
.page-title {
	color: white;
}