body {
	background-color: #0A122A;
}

.main-header {
	color: white;
}

.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.jumbotron .container {
  height: 150px;
}
